[Unit]
Description=audiopd aDSP RPC daemon
After=dev-fastrpc-adsp.device dev-fastrpc-adsp-secure.device
ConditionPathExists=|/dev/fastrpc-adsp
ConditionPathExists=|/dev/fastrpc-adsp-secure

[Service]
Type=exec
ExecStart=/usr/bin/adsprpcd audiopd
Restart=on-failure
RestartSec=5
