[Unit]
Description=gDSP RPC daemon
After=dev-fastrpc-gdsp0.device dev-fastrpc-gdsp0-secure.device
ConditionPathExists=|/dev/fastrpc-gdsp0
ConditionPathExists=|/dev/fastrpc-gdsp0-secure

[Service]
Type=exec
ExecStart=/usr/bin/gdsprpcd rootpd gdsp0
Restart=on-failure
RestartSec=5
